<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
         xmlns:tools="http://schemas.android.com/tools"
          package="com.DefaultCompany.DoSomething">
 
    <application tools:node="merge">
        
        <meta-data
            android:name="com.samsung.android.game.gamelist.GAME"
            android:value="true"
			tools:node="merge"/>
        
    </application>
</manifest>
